@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.guide-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  font-family: "Orbitron", sans-serif;
}

.welcome-text {
  margin-top: 20px;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
}

.ctc-button {
  background-color: #959594;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  display: block;
  width: 200px;
  margin: 20px auto;
}

.ctc-button:hover {
  background-color: #ffffff;
  color: black;
}

.hr {
  margin-top: 30px;
  border: 0;
  border-top: 1px solid #bbb;
}

.dropdown-container {
  margin-top: 30px;
}

.dropdown-section {
  padding: 15px;
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.dropdown-heading {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.guide-steps {
  margin-top: 15px;
  color: #ccc;
  font-size: 1rem;
}

.commands {
  font-weight: 600;
  color: #f5a623;
}

.command-container {
  background-color: #444;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.command-container pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #fff;
  font-size: 1.5rem;
}

.copy-button {
  background-color: #f5a623;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.copy-button:hover {
  background-color: #ff9d00;
}

.copy-button.copied {
  background-color: #4caf50;
}

.exp {
  font-size: 1.8rem;
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
}

.dropdown-section:hover {
  background-color: #444;
}

.checkbox {
  accent-color: #f5a623;
}